@import url('https://fonts.googleapis.com/css2?family=Meera+Inimai&family=Outfit:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    position: relative;
}

.content {
    width: 320px;
    height: 500px;
    margin: 200px auto;
    background-color: white;
    border-radius: 20px;
}

img {
    width: 290px;
    margin-top: 15px;
    border-radius: 10px;
}

h1 {
    font-size: 1.5rem;
    margin: 20px;
}

p {
    margin: 20px;
    color: rgb(160, 160, 160)
}